    body{
        background-color: #ebaf56;
    }
    #a{
        background-color: rgb(21, 131, 45);
        color: aliceblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 60px;
        width: 800px;
        font-size: 40px;
        margin-left: 290px;
        text-shadow: 3px 3px rgb(214, 81, 81);
    }
    .b{
        background-color: rgb(21, 131, 45);
        color: aliceblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 480px;
        width: 60px;
        font-size: 40px;
        text-shadow: 3px 3px rgb(214, 81, 81);
        margin-left: 290px;
        margin-top: -10px;
        padding-left: 10px;
    }
    #c{
        background-color: rgb(21, 131, 45);
        color: aliceblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 60px;
        width: 800px;
        font-size: 40px;
        margin-left: 290px;
        text-shadow: 3px 3px rgb(214, 81, 81);
    }
    .d{
        background-color: rgb(21, 131, 45);
        color: aliceblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 480px;
        width: 60px;
        font-size: 40px;
        text-shadow: 3px 3px rgb(214, 81, 81);
        margin-left: 1020px;
        margin-top: -540px;
        padding-left: 10px;
    }
    .kalai{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .head{
        position: fixed;
        height: 170px;
        width: 170px;
        border: 2px solid black;
        top: 110px;
        left: 620px;
        border-radius: 50% ;
        background-color: #0d71f3;
    }
    .head1{
        position: fixed;
        height: 125px;
        width: 130px;
        border: 2px solid black;
        top: 155px;
        left: 640px;
        border-radius: 50% ;
        background-color: white;
    }
    .body{
        position: fixed;
        height: 135px;
        width: 145px;
        border: 2px solid black;
        top: 270px;
        left: 632px;
        background-color: #0d71f3;
    }
    .bdy{
        position: fixed;
        height: 10px;
        width: 144px;
        border: 3px solid black;
        top: 260px;
        left: 632px;
        background-color: rgb(177, 7, 7);
        border-radius: 10px;
    }
    .eye1{
        position: fixed;
        height: 50px;
        width: 41px;
        border: 2px solid black;
        border-radius: 50%;
        top: 130px;
        left: 662px;
        background-color: white;
    }
    .eye2{
        position: fixed;
        height: 50px;
        width: 41px;
        border: 2px solid black;
        border-radius: 50%;
        top: 130px;
        right: 614px;
        background-color: white;
    }
    .ball1{
        position: fixed;
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        background-color: black;
        top: 157px;
        left: 687px;
    }
    .ball2{
        position: fixed;
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        background-color: black;
        top: 157px;
        right: 640px;
    }
    .nose{
        position: fixed;
        height: 23px;
        width: 23px;
        border: 2px solid black;
        border-radius: 50%;
        background-color: rgb(219, 7, 7);
        top: 172px;
        right: 646px;
    }
    .nos{
        position: fixed;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: white;
        top: 178px;
        right: 658px;
    }
    .l1{
        position: fixed;
        height: 35px;
        width: 0px;
        border: 1px solid black;
        top: 198px;
        left: 705px;
    }
    .l2{
        position: fixed;
        height: 0px;
        width: 30px;
        border: 1px solid black;
        top: 198px;
        left: 727px;
        transform: rotate(-10deg);
    }
    .l3{
        position: fixed;
        height: 0px;
        width: 30px;
        border: 1px solid black;
        top: 206px;
        left: 727px;
        transform: rotate(-3deg);
    }
    .l4{
        position: fixed;
        height: 0px;
        width: 30px;
        border: 1px solid black;
        top: 214px;
        left: 727px;
        transform: rotate(1deg);
    }
    .l5{
        position: fixed;
        height: 0px;
        width: 30px;
        border: 1px solid black;
        top: 198px;
        right: 681px;
        transform: rotate(5deg);
    }
    .l6{
        position: fixed;
        height: 0px;
        width: 30px;
        border: 1px solid black;
        top: 206px;
        right: 681px;
        transform: rotate(0deg);
    }
    .l7{
        position: fixed;
        height: 0px;
        width: 30px;
        border: 1px solid black;
        top: 214px;
        right: 681px;
        transform: rotate(-6deg);
    }
    .l8{
        position: fixed;
        height: 0px;
        width: 50px;
        border: 1px solid black;
        top: 228px;
        right: 610px;
        transform: rotate(-17deg);
    }
    .l9{
        position: fixed;
        height: 0px;
        width: 50px;
        border: 1px solid black;
        top: 228px;
        left: 655px;
        transform: rotate(17deg);
    }
    .hand1{
        position: fixed;
        height: 80px;
        width: 40px;
        border: 2px solid black;
        top: 260px;
        left: 588px;
        border-radius: 50%;
        transform: rotate(37deg);
        background-color: #0d71f3;
    }
    .hand2{
        position: fixed;
        height: 80px;
        width: 40px;
        border: 2px solid black;
        top: 260px;
        right: 538px;
        border-radius: 50%;
        transform: rotate(-35deg);
        background-color: #0d71f3;
    }
    .c2{
        position: fixed;
        height: 30px;
        width: 30px;
        border: 2px solid black;
        border-radius: 50%;
        top: 260px;
        left: 690px;
        background-color: rgb(250, 205, 7);

    }
    .c3{
        position: fixed;
        height: 8px;
        width: 8px;
        border: 2px solid black;
        border-radius: 50%;
        top: 274px;
        left: 700px;
        background-color:black;
    }
    .l{
        position: fixed;
        height: 10px;
        width: 76px;
        top: 262px;
        left: 668px;
        background-color: rgb(177, 7, 7);
        border-radius: 10px;
    }
    .k1{
        position: fixed;
        height: 15px;
        width: 0px;
        border: 1px solid black;
        top: 390px;
        left: 706px;
    }
    .k2{
        position: fixed;
        height: 0px;
        width: 15px;
        border: 1px solid black;
        top: 390px;
        left: 698px;
    }
    .h1{
        position: fixed;
        height: 35px;
        width: 35px;
        border: 2px solid black;
        border-radius: 50%;
        top: 320px;
        left: 560px;
        background-color: white;
    }
    .h2{
        position: fixed;
        height: 35px;
        width: 35px;
        border: 2px solid black;
        border-radius: 50%;
        top: 320px;
        right: 510px;
        z-index: 1;
        background-color: white;
        
    }
    .bdy1{
        position: fixed;
        height: 110px;
        width: 120px;
        border: 2px solid black;
        top: 260px;
        left: 645px;
        border-radius: 50% ;
        background-color: white;
    }
    .bdy2{
        position: fixed;
        height: 40px;
        width: 70px;
        border-radius: 0px 0px 150px 150px;
        transform: translate(50%,50%);
        border: 2px solid black;
        top: 290px;
        left: 634px;
    }
    .leg1{
        position: fixed;
        height: 40px;
        width: 75px;
        border: 2px solid black;
        top: 406px;
        left: 627px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 30px;
        background-color: white;
    }
    .leg2{
        position: fixed;
        height: 40px;
        width: 75px;
        border: 2px solid black;
        top: 406px;
        right: 581px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 30px;
        background-color: white;
    }
    .leg1:hover{
        transition: 1s;
        transform: rotate(360deg);
        background-color: rgb(255, 10, 92);
    }
    .leg2:hover{
        transition: 1s;
        transform: rotate(360deg);
        background-color: rgb(255, 10, 92);
    }
    .hand1:hover{
        transition: 1s;
        transform: rotate(360deg);
        background-color: rgb(10, 255, 161);
    }
    .hand2:hover{
        transition: 1s;
        transform: rotate(360deg);
        background-color: rgb(10, 255, 161);
    }
    .h1{
        animation: spin 0.13s linear infinite;
        box-shadow: inset 0 0 18px #f19f9f,
                    inset 6px 0 18px rgb(243, 117, 243),
                    inset -6px 0 18px rgb(37, 221, 221),
                    inset 6px 0 30px rgb(243, 117, 243),
                    inset -6px 0 30px rgb(37, 221, 221),
                    0 0 18px #f19f9f, -4px
                    0 18px rgb(243, 117, 243), 4px 0 8px rgb(37, 221, 221);
    }
    @keyframes spin{
        10%{
            transform: rotate(360deg);
        }
    }
    .h2{
        animation: spin 0.13s linear infinite;
        box-shadow: inset 0 0 18px #f19f9f,
                    inset 6px 0 18px rgb(243, 117, 243),
                    inset -6px 0 18px rgb(37, 221, 221),
                    inset 6px 0 30px rgb(243, 117, 243),
                    inset -6px 0 30px rgb(37, 221, 221),
                    0 0 18px #f19f9f, -4px
                    0 18px rgb(243, 117, 243), 4px 0 8px rgb(37, 221, 221);
    }
    @keyframes spin{
        10%{
            transform: rotate(360deg);
        }
    }